<a href="https://colab.research.google.com/github/hunterad93/projects/blob/main/carbitrage_page_parser.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
!pip install beautifulsoup4 requests pandas

import requests
from bs4 import BeautifulSoup
import json
import pandas as pd

url_list = [
    'https://minneapolis.craigslist.org/hnp/cto/d/saint-michael-1998-subaru-forester/7626667598.html',
    'https://minneapolis.craigslist.org/ank/cto/d/champlin-subaru-forester-as-is/7624015627.html'
]

# Create an empty DataFrame to store the extracted data
columns = ['Name', 'Description', 'Price', 'Currency', 'Latitude', 'Longitude']
df = pd.DataFrame(columns=columns)

for url in url_list:
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    script_tag = soup.find('script', {'id': 'ld_posting_data'})
    json_data = json.loads(script_tag.string)

    # Extract relevant fields
    name = json_data['name']
    description = json_data['description']
    price = json_data['offers']['price']
    currency = json_data['offers']['priceCurrency']
    latitude = json_data['offers']['availableAtOrFrom']['geo']['latitude']
    longitude = json_data['offers']['availableAtOrFrom']['geo']['longitude']

    # Append the extracted data to the DataFrame
    new_row = pd.DataFrame({
        'Name': [name],
        'Description': [description],
        'Price': [price],
        'Currency': [currency],
        'Latitude': [latitude],
        'Longitude': [longitude],
    })

    df = pd.concat([df, new_row], ignore_index=True)

# Print the DataFrame
df

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.11.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.27.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.4.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

,Name,Description,Price,Currency,Latitude,Longitude
0,1998 Subaru Forester,"Rust free, new tires, awd Ac works Great. 19...",3000.00,USD,45.206400,-93.659300
1,Subaru Forester 2006 - AS IS,Selling AS IS: cosmetic damage as seen in the ...,6000.00,USD,45.204562,-93.377550